<?xml version="1.0" encoding="UTF-8"?>
<classpath>
	<classpathentry kind="src" path="src"/>
	<classpathentry kind="lib" path="lib/windows/opencv-2413.jar">
		<attributes>
			<attribute name="org.eclipse.jdt.launching.CLASSPATH_ATTR_LIBRARY_PATH_ENTRY" value="Aero_GroundStation/lib/windows"/>
		</attributes>
	</classpathentry>
	<classpathentry kind="lib" path="lib/windows/RXTXcomm.jar">
		<attributes>
			<attribute name="org.eclipse.jdt.launching.CLASSPATH_ATTR_LIBRARY_PATH_ENTRY" value="Aero_GroundStation/lib/windows"/>
		</attributes>
	</classpathentry>
	<classpathentry kind="con" path="org.eclipse.jdt.launching.JRE_CONTAINER"/>
	<classpathentry kind="lib" path="lib/windows/TTS/cmu_time_awb.jar"/>
        <classpathentry kind="lib" path="lib/windows/TTS/cmu_us_kal.jar"/>
        <classpathentry kind="lib" path="lib/windows/TTS/cmudict04.jar"/>
        <classpathentry kind="lib" path="lib/windows/TTS/cmulex.jar"/>
        <classpathentry kind="lib" path="lib/windows/TTS/cmutimelex.jar"/>
        <classpathentry kind="lib" path="lib/windows/TTS/en_us.jar"/>
        <classpathentry kind="lib" path="lib/windows/TTS/freetts-jsapi10.jar"/>
        <classpathentry kind="lib" path="lib/windows/TTS/freetts.jar"/>
        <classpathentry kind="lib" path="lib/windows/TTS/jsapi.jar"/>
	<classpathentry kind="lib" path="lib/windows/jcodec-0.1.9.jar"/>
        <classpathentry kind="lib" path="lib/windows/jcodec-javase-0.1.9.jar"/>
	<classpathentry kind="output" path="bin"/>
</classpath>
